
  *{
    box-sizing: border-box;
       }
   body {
    background-color: #eeeae4; 
    font-family:Arial ,Helvetica, sans-serif; 
    font-size: 90%;
    }
   h1 {

    color: rgb(7, 7, 7); 

    text-align: justify;
    text-justify: inter-word;
    }

    h2 {
        font-size: 40px;
        color: rgb(7, 7, 7); 
     
        font-family:Arial; 
        }