
  *{
    box-sizing: border-box;
    background-color: #eeeae4; 
    font-family:Arial ,Helvetica, sans-serif; 
       }
  
  p {

    color: rgb(7, 7, 7); 
    text-align: justify;
    text-justify: inter-word;
    font-size: 40px;
    padding: 10px;
    }

    h1 {
       
        color: rgb(7, 7, 7); 
        font-size: 100px;

        }